<h2><%= @project.name %></h2>

<%= link_to 'New Floorplan', new_project_floorplan_path(@project), class: "btn btn-primary" %>

<div class="row" style="padding-top:30px;">
  <% @floorplans.each do |floorplan| %>
    <div class="col-md-4">
      <% if pdf_format?(floorplan) %>
        <%= render 'floorplans/pdf', floorplan: floorplan %>
      <% else %>
        <%= render 'floorplans/image', floorplan: floorplan %>
      <% end %>
    </div>
  <% end %>
</div>
